.expend-block {
	&_expended &__title:after {
		transform: rotate(0);
    opacity: 0;
	}
	&__title {
		font-size: 26px;
    font-weight: 700;
    border-bottom: 2px solid #deeaea;
    margin-bottom: 0.5rem;
    padding: 10px 50px 12px 0;
		position: relative;
		&:before, &:after {
			position: absolute;
			content: '';
			width: 16px;
			height: 2px;
			right: 16px;
			top: 28px;
			background-color: #a8d2c8;
		}
		&:after {
			transform: rotate(-90deg);
			transform-origin: 50% 50%;
			transition: transform .3s ease-in, opacity .3s ease-in;
		}
	}
	&__content{
		height: 0;
    overflow: hidden;
    padding-left: 15px;
    transition: height .3s ease-in;
	}
}