@font-face {
    font-family: 'bariol';
    src: url("/static/fonts/bariol_serif_bold-webfont.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: 'bariol';
    src: url("/static/fonts/bariol_serif_regular-webfont.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: 'bebas';
    src: url("/static/fonts/bebasneuebold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'bebas';
    src: url("/static/fonts/bebasneueregular.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: 'bebas';
    src: url("/static/fonts/bebasneuelight.woff2") format("woff2");
    font-weight: 400;
}